.wds-logo-train-wrapper .wds-logo-train {
  list-style: none;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.wds-logo-train-wrapper .wds-logo-train .logo {
  display: inline-block;
  margin: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: left;
  min-width: 75px;
  min-height: 75px;
}

.wds-logo-train-wrapper .wds-logo-train .logo img {
  visibility: hidden;
  height: 0;
  width: 0;
  overflow: hidden;
}
